# macOS
.DS_Store
# Xcode
*.xcuserstate
*.xcuserdata
*.xcshareddata
*.xcuserstate
*.xcuserdata
*.xcshareddata
*.xcuserstate
*.xcuserdata
*.xcshareddata

# Swift
.build
.swiftpm

# Test results
TestResults.xcresult
TestResults.xcresult.zip
TestResults